body {
    background-color: cyan;
    text-align: center;
    position: absolute;
   
    text-align: center;
    font: arial;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
   
}
header {
    font-size: 20px;
   background-color: blueviolet;
   border-radius: 8px;
   align-items: center;
   
}
main {
    background-color: darkorchid;
    border-radius: 8px;
    padding: 40px;
}
.resultado {
    background-color: darkgray;
}