body {
   
    
}

header {

}

#banner {
    width: 100%;
}

.principal {
    background-color: lightgrey;
    padding: 30px;
}

h1 {
    text-align: left;
    padding-left: 20px;
}

.missao {
    font-size: 20px;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

ul {
  
    display: inline-block;
    width: 20%;
    margin-right: 15%;
    vertical-align: top;
}

.lista {
     font-style: italic;
}

.bene {
    background-color: white;
    
    padding: 20px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.beneficios {
    width: 50%;
   
}