
body {
    background-color: chocolate;
    width: 250px;
   
    margin: auto;
   
    
    
}

div {
    background-color: cornflowerblue;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
    font-size: 20px;
    background-color: violet;
    transition: 1s;
}

input {
    border-radius: 5px;
    padding: 10px;
}

label {
    color: white;
    
}

h1 {
    color: white;
}